<form action="#" xmlns:th="http://www.thymeleaf.org">
    <h5 class="card-title mb-3">NIP</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="nip" id="nip" th:value="${data.nip}">

    <h5 class="card-title mb-3">Nama</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="name" id="name" th:value="${data.name}">

    <h5 class="card-title mb-3">Jenis Kelamin</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="jk" id="jk" th:value="${data.jk}">

    <h5 class="card-title mb-3">Alamat</h5>
    <textarea readonly="readonly" class="form-control mb-3" rows="2" placeholder="Alamat" name="alamat" id="alamat"
        th:text="${data.alamat}"></textarea>

    <h5 class="card-title mb-3">Gelar</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="gelar" id="gelar" th:value="${data.gelar}">
</form>