<!-- Content start -->
<div class="container-fluid p-0" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
     layout:fragment="content">

    <h1 class="h3 mb-3">Edit Dosen</h1>

    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{~/dosen/update}" method="post">
                        <input type="hidden" name="id" id="id" th:value="${data.id}">
                        <h5 class="card-title mb-3">NIP</h5>
                        <input type="text" class="form-control mb-3" name="nip" id="nip" th:value="${data.nip}">

                        <h5 class="card-title mb-3">Nama</h5>
                        <input type="text" class="form-control mb-3" name="name" id="name" th:value="${data.name}">

                        <h5 class="card-title mb-3">Jenis Kelamin</h5>
                        <select class="form-select mb-3" name="jk">
                            <option value=""></option>
                            <option th:value="Pria" th:selected="${data.jk} == Pria">Pria</option>
                            <option th:value="Wanita" th:selected="${data.jk} == Wanita">Wanita</option>
                        </select>

                        <h5 class="card-title mb-3">Alamat</h5>
                        <textarea class="form-control mb-3" rows="2" placeholder="Alamat" name="alamat" id="alamat"
                                  th:text="${data.alamat}"></textarea>

                        <h5 class="card-title mb-3">Gelar</h5>
                        <input type="text" class="form-control mb-3" name="gelar" id="gelar" th:value="${data.gelar}">

                        <button type="submit" class="btn btn-success">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->