<form th:action="@{~/jurusan/save}" method="post" xmlns:th="http://www.thymeleaf.org">
    <h5 class="card-title mb-3">Kode</h5>
    <input type="text" class="form-control mb-3" name="code" id="code">

    <h5 class="card-title mb-3">Nama</h5>
    <input type="text" class="form-control mb-3" name="name" id="name">

    <h5 class="card-title mb-3">Fakultas</h5>
    <select class="form-select mb-3" name="fakultas.id">
        <option value=""></option>
        <option th:each="fakultas : ${fakultasList}" th:value="${fakultas.id}" th:text="${fakultas.name}">
        </option>
    </select>

    <button type="submit" class="btn btn-success">Update</button>
</form>