<form action="#" xmlns:th="http://www.thymeleaf.org">
    <h5 class="card-title mb-3">Kode</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="code" id="code" th:value="${data.code}">

    <h5 class="card-title mb-3">Nama</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="name" id="name" th:value="${data.name}">

    <h5 class="card-title mb-3">Fakultas</h5>
    <input readonly="readonly" type="text" class="form-control mb-3" name="fakultas" id="fakultas"
        th:value="${data.fakultas.name}">
</form>