<form th:action="@{~/gedung/update}" method="post" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="id" th:value="${data.id}">
    <h5 class="card-title mb-3">Kode</h5>
    <input type="text" class="form-control mb-3" name="code" id="code" th:value="${data.code}">

    <h5 class="card-title mb-3">Nama</h5>
    <input type="text" class="form-control mb-3" name="name" id="name" th:value="${data.name}">

    <h5 class="card-title mb-3">Jumlah Lantai</h5>
    <input type="number" class="form-control mb-3" name="jmlLantai" id="jmlLantai" th:value="${data.jmlLantai}">

    <button type="submit" class="btn btn-success">Update</button>
</form>