<form th:action="@{~/fakultas/save}" method="post" xmlns:th="http://www.thymeleaf.org">
    <h5 class="card-title mb-3">Kode</h5>
    <input type="text" class="form-control mb-3" name="code" id="code">

    <h5 class="card-title mb-3">Nama</h5>
    <input type="text" class="form-control mb-3" name="name" id="name">

    <h5 class="card-title mb-3">Alamat</h5>
    <textarea class="form-control mb-3" rows="2" placeholder="Alamat" name="alamat" id="alamat"></textarea>

    <button type="submit" class="btn btn-success">Save</button>
</form>