<!-- Content start -->
<form th:action="@{~/ruang/update}" method="post" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="id" th:value="${data.id}">
    <h5 class="card-title mb-3">Kode</h5>
    <input type="text" class="form-control mb-3" name="code" id="code" th:value="${data.code}">

    <h5 class="card-title mb-3">Nama</h5>
    <input type="text" class="form-control mb-3" name="name" id="name" th:value="${data.name}">

    <h5 class="card-title mb-3">Lantai ke</h5>
    <input type="number" class="form-control mb-3" name="lantaiKe" id="lantaiKe"
           th:value="${data.lantaiKe}">

    <h5 class="card-title mb-3">Gedung</h5>
    <select class="form-select mb-3" name="gedung.id">
        <option value=""></option>
        <option th:each="gedung : ${gedungList}" th:value="${gedung.id}"
                th:text="${gedung.name}" th:selected="${gedung.id==data.gedungId}">
        </option>
    </select>

    <button type="submit" class="btn btn-success">Update</button>
</form>
